# docs-compiled
*.pdf

# Byte-compiled / optimized / DLL files
*.pyc

# tmp files
Lab*/src/tmp
Lab*/src/data

# Subversion files
*.svn-base
Lab2/src/word2vec_google/.svn/*
Lab2/src/word2vec_google/trunk/.svn/*

